[submodule "themes/ananke"]
	path = themes/ananke
	url = https://mirror.ghproxy.com/https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:deTian0/hugo-demo.git
	branch = master
